.navbar-brand{                     
font-family: 'Ubuntu', sans-serif;
font-size: 2em;
font-weight: bold;
color: #fff;
}

.custom-nav .custom-nav-item a {
    color: #fff !important;
}

.custom-nav-item:hover{
    background-color: #dc3545;
    border: solid #dc3545 1px;
    border-radius: 10px;
}

.vid-content {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 35%;
    text-align: center;
    color: red;
}

.stripe {
    background-image: linear-gradient(240deg, #ed213a, #93291e);
    padding: 3rem;
    height: 13rem;
    margin-top: 4rem;
    transform: rotate(10deg);
    z-index: -5;
}



